.data-container {
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: center;

  .element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;

    .icon {
      margin-top: 10px;
    }

    .data {
      font-size: 34px;
      font-weight: 400;
    }

    .text {
      font-size: 20px;
      font-weight: 400;
    }
  }
}
